body {
	background: #fff;
	font-size: 13px;
}

h2 {
	margin-top:2em;
	border-bottom: 2px solid #ccc;
	padding-bottom: .5em;
}

figure > img {
	border: 0;
	max-width: 100%;
}

figurecaption {
	display: block;
}

table{
	border-collapse: collapse;
}

th, td{
    border : 1px solid;
}

.odd {
    background: #aee0f9;
}

.even{
    background: #0eb0ff;
}

p code{
    color: #f00;
}
#box {
    position: absolute;
    top: 100px;
    left: 50px;
    width: 100px;
    height: 100px;
    background: #ccc;
    border: 1px solid #777;
}
